* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #6f73d8;
    color: #090000;
    line-height: 1.5;
}
header{
    background: #d49f9f;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    top: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    gap: 20px;
}
nav h1{
    font-size: 22px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 0.3s;
}
nav ul li a:hover{
    color: rgb(6, 238, 176);
}

/* HERO */
.hero{
    padding: 50px 20px;
    text-align: center;
    background-color: beige;
}

.hero h2{
    font-size: 30px;
    margin-bottom: 10px;

}
.hero p{
    font-size: 30px;
    margin-bottom: 20px;
}


/* section about,skills*/
section{
    padding: 40px 20px;
    max-width: 1110px;
    margin: auto;
}
section h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}

.about-text{
    text-align: center;
}

/* Skills Grid */
skills-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    gap: 20px;
}
.skill-card{
    background-color: rgb(230, 154, 154);
    padding: 20px;
    border: 2px solid rgb(5, 148, 238);
}
.skill-card:hover{
    transform: scale(1);
    box-shadow: 0px 8px 20px rosybrown;
}

/* Projects */
.projects{
    display: unset;
    grid-template-columns: repeat(1);
    gap: 20px;
}

.project-card{
    background-color: rgb(66, 158, 238);
    padding: 20px;
    border: 2px solid rgb(139, 33, 85);
}
.project-card:hover{
    transform: scale(1);
    box-shadow: 0px 8px 20px rosybrown;
}